/*DEFAULT*/

* {
	outline: none !important;
}

body {
    font-family: 'Fira Sans', sans-serif;
    padding-top: 60px;
}

a {
  color: inherit;
	text-decoration: none !important;
}

a:hover, a:active {
  color: inherit;
}

.voltar {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.voltar:before {
  font-family: "stamp-icons" !important;
  content: "\e10d";
  vertical-align: middle;
  font-size: 25px;
}

h2 {
	font-size: 42px;
	font-weight: 300;
	color: #a26f8d;
	margin: 0 0 30px;
}

h3 {
  font-size: 32px;
  font-weight: 300;
  color: #a26f8d;
  margin: 0 0 40px;
}

h6 {
  font-size: 36px;
  font-weight: 300;
  color: #333333;
  margin: 0 0 45px;
  line-height: 45px;
}

.select-servico + h6 {
  font-size: 32px;
  font-weight: 300;
  color: #000000;
  margin: 0 0 10px;
}

p {
  font-size: 16px;
  font-weight: 300;
  color: #000000;
  line-height: 28px;
  margin: 0;
}

p + p {
  margin: 26px 0 0;
}

.margin-0 {
  margin: 0 !important;
}

.img-thumbnail {
  padding: 5px;
  border-radius: 0;
  border: none;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
}

.hover {
  opacity: 1;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hover:hover {
  opacity: 0.7;
}

a.hover {
  display: block;
}

.diver {
  width: 130px;
  height: 4px;
  margin: 50px 0 0;
}

.diver.danger {
  background-color: #a26f8d;
}

.nicescroll-rails {
  z-index: 9999 !important;
}

.link-icon {
	font-size: 12px;
	color: #f188b3;
	text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.link-icon:hover {
  color: #c87194;
}

.link-icon:before {
    font-family: "stamp-icons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    font-size: 18px;
    speak: none;
    vertical-align: middle;
    line-height: 1px;
    margin-right: 8px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	content: "\e01f";
}

.position-relative {
    position: relative;
}

#banner .position-relative.container {
  height: 100%;
}

.background {
    /*background: url(../images/bg_home.png) no-repeat;*/
    background-repeat: no-repeat;
    background-position: center top;
}

.img {
  width: 100%;
  height: auto;
}

.icon-play {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -56px;
    margin-top: -56px;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.icon-play:hover {
  opacity: 0.7;
}


/*GRID*/

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}


/*BUTTON*/
.btn {
  border-radius: 0;
  padding: 8px 12px 5px;
  font-size: 18px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-break {
  white-space: normal;
  word-wrap: break-word;
}

.btn-lg {
  font-size: 20px;
    padding: 22px 12px 20px;
    margin-bottom: 10px;
}

.btn-lg .fa {
    font-size: 40px;
    margin-right: 30px;
    vertical-align: middle;
}

.btn-danger {
  background-color: #a26f8d !important;
  border-color: #a26f8d !important;
}

.btn-danger:hover {
  background-color: #865b75 !important;
  border-color: #865b75 !important;
}

.btn-default {
  color: #f188b3 !important;
  background-color: #fff !important;
  border-color: #ccc !important;
}

.btn-default:hover {
  background-color: #f188b3 !important;
  color: #fff !important;
  border-color: #f188b3 !important;
}


.btn-pink {
  background-color: #f5abca !important;
  color: #fff !important;
  border-color: #f5abca !important;
}

.btn-pink:hover {
  color: #f5abca !important;
  background-color: #fff !important;
  border-color: #ccc !important;
}

.btn-pink-2 {
  background-color: #f188b3 !important;
  color: #fff !important;
  border-color: #f188b3 !important;
}

.btn-pink-2:hover {
  color: #f5abca !important;
  background-color: #fff !important;
  border-color: #ccc !important;
}

.btn-tratamentos {
  min-height: 130px;
  position: relative;
}

.btn-tratamentos span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*pagination*/
.pagination-box {
  border: 1px solid #e0e0e0;
  text-align: center;
  background-color: #fff;
    margin: 0;
    position: relative;
    top: 3px;
}

.pagination-box:before,
.pagination-box:after {
  display: table;
  content: " ";
}

.pagination-box:after {
  clear: both;
}

.pagination {
  margin: 0;
  position: relative;
  top: 3px;
}

.pagination .screen-reader-text {
  display: none;
}

.pagination>li>a, .pagination>li>span {
  color: #f188b3;
  font-size: 16px;
  background-color: transparent !important;
  border: none !important;
  padding: 0px 5px;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
  color: #a26f8d;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: transparent;
  color: #a26f8d;
  text-decoration: underline !important;
}

.page-numbers {
  display: inline;
  position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
      color: #f188b3;
    font-size: 16px;
    background-color: transparent !important;
    border: none !important;
    padding: 0px 5px;
}

.page-numbers.current,
.page-numbers:hover {
  color: #a26f8d;
}


/*FONT*/

.text-light {
    font-weight: 300 !important;
}

.text-regular {
    font-weight: 400 !important;
}

.text-medium {
    font-weight: 500 !important;
}

.text-bold {
    font-weight: 700 !important;
}



/*COLOR*/
.cl-a26f8d {
  color: #a26f8d !important;
}



/*FORM*/
.form-group {
  margin-bottom: 20px;
}

.form-control {
  height: 40px;
  border-radius: 0;
  border-color: #e0e0e0;
  font-size: 14px;
  color: #999999;
  box-shadow: none !important;
}

.form-control:focus {
  border-color: #a26f8d;
}

.form-control.form-border-none {
  border: none !important;
}

textarea {
  resize: none;
}


/*PANEL*/
.panel {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: inherit;
}

.panel-default {
    border-color: #e0e0e0;
}

.panel-body {
    padding: 25px;
}


/*NAVBAR*/

.navbar {
  min-height: 60px;
  margin-bottom: 0;
}

.navbar-nav {
  padding-left: 20px;
}

.navbar-default {
    background-color: #ffffff;
    border: 0;
}

.navbar-brand {
    height: 60px;
    padding: 7px 15px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #a26f8d;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #000000;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
    padding: 19px 7px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.navbar-default .navbar-nav>li:hover>a {
  color: #a26f8d;
}

.navbar-nav>li>ul {
  display: none;
  position: absolute;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 10px;
  margin: 0;
  min-width: 220px;
  max-width: 100%;
  margin-top: 1px;
}

.navbar-nav>li>ul>li {
  list-style: none;
  font-size: 19px;
  font-weight: 300;
  color: #a26f8d;
  padding: 0 20px;
}

.navbar-nav>li>ul>li + li {
  border-top: 1px solid #f4e6e8;
}

.navbar-nav>li:hover ul{
  display: block;
}

.navbar-nav>li>ul>li>a {
    padding: 5px;
    display: block;
}

.logo-grupo-paula-bellotti img {
    width: auto;
    max-width: 100%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.social-networks {
    display: table;
    content: "";
    clear: both;
    width: 100%;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.social-networks ul {
    margin: 0;
    padding: 0;
    float: right;
}

.social-networks ul>li {
    float: left;
    list-style: none;
}

.social-networks ul>li>a {
    font-size: 25px;
    color: #000;
    margin-left: 25px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.social-networks ul>li>a:hover {
    text-decoration: none;
    color: #a26f8d;
}

.social-network-b {
  margin: 0;
}

* + .social-network-b,
.social-network-b + * {
  margin-top: 5px;
}

.social-network-b + img {
  width: 100%;
}

.social-network-b:before,
.social-network-b:after {
  display: table;
  content: " ";
}

.social-network-b:after {
  clear: both;
}

.social-network-b a {
  float: left;
  font-size: 18px;
  color: #a26f8d;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.social-network-b a:hover {
  color: #865b75;
}

.social-network-b a + a {
  margin-left: 20px;
}

.search {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.search .inner-addon {
    width: 370px;
    max-width: 100%;
    float: right;
}

.search .form-control {
    height: 40px;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
    border: 1px solid transparent;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.search .form-control:focus {
    border-color: #a26f8d;
}

.affix .bar {
    float: right;
}

.search .icon {
    font-size: 25px;
    color: #a26f8d;
}

.search .right-addon input {
    padding-right: 40px;
}

.action-menu {
    display: none;
}

.affix .navbar-top {
    padding: 0;
    height: 50px;
}

.affix .menu {
    display: none;
}

.affix .navbar-top {
    background-color: rgba(255, 255, 255, 0.9);
}

/*.affix .logo-grupo-paula-bellotti img {
    margin: 7px 0;
    width: 140px;
}*/

.affix-top img.logo-grupo-paula-bellotti.simples {
  display: none !important;
}

.affix-top img.logo-grupo-paula-bellotti {
  display: block;
}

.affix img.logo-grupo-paula-bellotti.simples {
    display: block !important;
    width: 100px;
    margin: 3px 0;
}

.affix img.logo-grupo-paula-bellotti {
  display: none;
}

.affix .search .form-control {
    border: 1px solid #e9e9e9;
}

.affix .social-networks {
    display: inline-block;
    width: auto;
    margin: 0;
    position: relative;
    top: 12px;
}

.affix .social-networks ul {
    float: none;
}

.affix .search {
    display: inline-block;
    position: relative;
    top: -5px;
    margin-left: 20px;
}

.affix .search .inner-addon {
    float: none;
}

.affix .search .form-control:focus {
    border: 1px solid #a26f8d;
}

.affix .action-menu {
    display: inline-block;
    overflow: hidden;
    height: 32px;
    position: relative;
    top: 6px;
    margin-left: 10px;
    cursor: pointer;
}

.affix .action-menu .icon {
    font-size: 50px;
    position: relative;
    top: -10px;
}

.affix .action-menu:hover .icon,
.affix .action-menu.active .icon {
    color: #a26f8d;
}

.menu .action-menu {display: none;}

/*FORM*/

.inner-addon {
    position: relative;
}

.inner-addon .icon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

.left-addon .icon {
    left: 0px;
}

.right-addon .icon {
    right: 0px;
}

.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}


/*BANNER*/

.carousel {
	margin-bottom: 55px;
}

.carousel-inner {
    overflow: inherit;
}

.carousel .item {
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.carousel.home .item {
  height: 636px;
}

.carousel.tratamento .item {
  height: 447px;
}

.carousel .item>.container,
.carousel .item>.container>.row,
.carousel .item>.container>[class*="col-"] {
    height: 100%;
}

.carousel .triangulo {
    background-image: url(../images/triangulo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 358px;
    height: 716px;
    position: absolute;
    bottom: 0;
    left: -148px;
    z-index: 1;
}

.carousel .item .text {
    position: relative;
    top: 180px;
    background-color: #fff;
    width: 420px;
    min-height: 150px;
    z-index: 2;
    padding: 25px 20px;
}

.carousel.home .item .text {
  position: absolute;
  top: inherit;
  bottom: 65px;
  width: 92%;
}

.carousel .item .text p {
    font-size: 30px;
    font-weight: 300;
    color: #a26f8d;
    margin: 0;
}

.carousel.home .item .text p {
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
}

.carousel .item .text strong,
.carousel .item .text b {
    font-weight: 500;
}

.carousel .item .border {
    width: 136px;
    height: 4px;
    background-color: #f3debf;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel.home .item .border {
  background-color: #f188b3;
}

.carousel.home .triangulo-top {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -200px;
    z-index: 10;
    width: 400px;
    height: auto;
}

.carousel .indicators {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
}

.carousel .indicators .container {
    position: relative;
}

.carousel-indicators {
    position: absolute;
    bottom: inherit;
    left: 0;
    z-index: 15;
    width: auto;
    padding-left: inherit;
    margin-left: inherit;
    text-align: inherit;
    list-style: none;
}

.home .carousel-indicators {
    position: inherit;
    bottom: inherit;
    left: inherit;
    z-index: 15;
    width: auto;
    padding-left: inherit;
    margin-left: inherit;
    text-align: inherit;
    list-style: none;
    display: inline-block;
}

.carousel-indicators li {
    border: 1px solid #f8b2c1;
    background-color: #fff;
    border-radius: 0;
    width: 11px;
    height: 11px;
    margin: 0px;
    margin-right: 10px;
}


.carousel-indicators .active {
    width: 11px;
    height: 11px;
    background-color: #f8b2c1;
    margin-right: 10px;
}

.carousel.black .carousel-indicators li {
    border-color: #454343;
    background-color: #fff;
}

.carousel.black .carousel-indicators .active  {
  background-color: #454343;
}

.carousel-fade .carousel-inner .item {
    transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
    z-index: 2;
}

.carousel.tratamento {
    margin-bottom: 40px;
}

/*BREADCRUMB*/
.box-breadcrumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.breadcrumb {
    padding: 10px 0;
    margin-bottom: 60px;
    list-style: none;
    background-color: inherit;
    border-radius: inherit;
}

.breadcrumb>li+li:before {
    font-family: "stamp-icons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e0e2";
    font-size: 13px;
    color: #000;
    padding: 0 4px;
    position: relative;
    top: 3px;
    margin-left: -4px;
}

.breadcrumb li {
  color: #000000;
  font-size: 12px;
  font-weight: 300;
}

.breadcrumb li:last-child {
  font-weight: bold;
}

.breadcrumb a {
  color: inherit !important;
}

.breadcrumbs-banner {
    position: absolute;
    top: 60px;
    width: 100%;
}

/*WIDGET*/
.widget {
  background-color: #fff;
  border: 1px solid #e9e9e9;
  margin-bottom: 30px;
}

.widget h3 {
  font-size: 18px !important;
  font-weight: 700;
  color: #a26f8d;
  text-transform: uppercase;
  margin: 30px 20px 0; 
  margin-bottom: 0 !important;
}

.widget h3  {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   /*line-height: 26px;*/     /* fallback */
   /*max-height: 52px;*/      /* fallback */
   -webkit-line-clamp: 4; /* number of lines to show */
   -webkit-box-orient: vertical;
}

/*.widget h3:after {
  display: block;
  content: " ";
  width: 130px;
  height: 4px;
  background-color: #a26f8d;
  margin: 20px 0 30px;
}
*/

/*LIST COUNT*/
.list-count {
  margin: 0;
  padding: 0 20px;
}

.list-count li {
  list-style: none;
  border-bottom: 1px solid #eaeaeb;
}

.list-count li:last-child {
  border-bottom: 0;
}

.list-count li a {
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  padding: 16px 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.list-count li a:hover {
  background-color: #f5f5f5;
}

.list-count li a:after {
    font-family: "stamp-icons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        content: "\e0e9";
        font-size: 18px;
        color: #f188b3;
        float: right;
}

.list-count li a span {
  color: #f188b3;
  font-size: 14px;
}

/*INSTAGRAM*/
.instagram ul {
  margin: 0;
  padding: 0 20px 20px;
}

.instagram ul:before,
.instagram ul:after {
  display: table;
  content: " ";
}

.instagram ul:after {
  clear: both;
}

.instagram ul li {
  list-style: none;
  border: 1px solid #a6a4a5;
  float: left;
  margin-bottom: 15px;
  width: 50%;
  width: calc(50% - 8px);
  width: -webkit-calc(50% - 8px);
  width: -moz-calc(50% - 8px);
  width: -ms-calc(50% - 8px);
  width: -o-calc(50% - 8px);
}

.instagram ul li:nth-child(2n+0) {
    margin-left: 15px;
}

.instagram ul li a {
  display: block;
}

.instagram ul li a img {
  width: 100%;
  height: auto;
}


/*ARTIGO*/
.artigo {
	padding: 15px 0;
	position: relative;
}

.artigo .foto {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 180px;
}

.artigo h3 {
	font-size: 22px;
	font-weight: 700;
	color: #333333;
	text-transform: uppercase;
	margin: 0 0 15px; 
}

.artigo h5 {
  color: #a26f8d;
  font-size: 12px;
  font-weight: 400;
  margin: 0 0 15px;
}

.artigo h5 strong:after {
  font-family: "stamp-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e0e9";
  font-size: 18px;
  position: relative;
  top: 5px;
}

.artigo p {
	font-size: 16px;
	font-weight: 300;
	color: #333333;
	margin: 0;
	line-height: 19px;
}

.artigo p  {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   /*line-height: 26px;*/     /* fallback */
   /*max-height: 52px;*/      /* fallback */
   -webkit-line-clamp: 4; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.artigo .link-icon {
	display: block;
  margin-top: 15px;
}

.artigo-blog {
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 30px;
}


.artigo h5 {
  margin: 0 0 10px;
}

.artigo h5 strong {
  font-weight: 500;
  text-transform: uppercase;
}

.artigo-blog h3 {
  font-size: 16px;
  margin: 0 0 10px;
  line-height: 22px;
}

.artigo-blog h3  {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   /*line-height: 26px;*/     /* fallback */
   /*max-height: 52px;*/      /* fallback */
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.artigo-blog p {
  font-size: 14px;
}

.artigo-blog p  {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   /*line-height: 26px;*/     /* fallback */
   /*max-height: 52px;*/      /* fallback */
   -webkit-line-clamp: 4; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.artigo.dra {
  margin-bottom: 100px;
}

.artigo.dra.box {
  background-color: #fff;
  padding: 30px;
  border: 1px solid #e0e0e0;
  margin-bottom: 40px;
}

.artigo.dra.box .foto {
  height: 160px;
}


/*RESULTADO BUSCA*/
.resultado-busca .artigo .foto {
  height: 158px;
}

.resultado-busca > h4 {
  font-size: 26px;
  font-weight: 300;
  color: #f188b3;
  margin: 50px 0 20px;
}

.resultado-busca p span {
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #b58ba1;
}

.resultado-busca .content {

}

/*CLINICAS DO GRUPO*/
.clinicas-do-grupo {
	padding: 15px 0;
	margin: 0 0 115px;
}

.clinicas-do-grupo h3 {
	font-size: 22px;
	font-weight: 700;
	color: #333333;
	text-transform: uppercase;
	margin: 0 0 15px; 
}

.clinicas-do-grupo img {
	border: 1px solid #e0e0e0;
  max-width: 100%;
  height: auto;
}


/*NEWS*/
.news {
  border: 1px solid #e9e9e9;
  border-left: none;
  padding: 50px 38px 50px 100px;
  background-color: #fff;
  margin: 174px 0 20px;
}

.news h4 {
  font-size: 27px;
  font-weight: 300;
  color: #a26f8d;
  line-height: 34px;
  margin: 0 0 20px;
}

.news form {
  /*float: right;*/
  margin-left: -15px;
}

.news form>div {
  float: left;
  width: 33.33%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.news form .btn {
    width: 300px;
    max-width: 100%;
    margin: 0 auto 0;
    display: block;
}

.news form>div:first-child {
  margin-left: 0;
}

.news .row {
  margin-left: 0;
}

footer {
  margin-top: 50px;
}

footer .bottom {
  background-color: #f3debf;
  padding: 30px 0 0;
}

footer .logo-grupo-paula-bellotti img {
  margin: 43px 0 35px;
}


footer ul {
  margin: 0 0 50px;
  padding: 0;
}

footer ul ul {
  padding-left: 20px;
  margin-top: 5px;
}

footer li {
  list-style: none;
  margin-bottom: 5px;
}

footer li a {
  display: block;
  font-size: 16px;
  font-weight: 300;
  color: #000000;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

footer li a:hover {
  color: #a26f8d;
}


/*footer .social-networks {
  margin-bottom: 10px;
}*/

/*footer .social-networks ul {
  margin-right: 15px;
}
*/
footer .search {
  float: right;
  border: 0;
  border-radius: 0;
  height: 40px;
  font-size: 18px;
  font-weight: 400;
  color: #999999;
  margin-top: 100px;
}

form .search button {
  position: absolute;
  padding: 10px;
  right: 0;
  width: 47px;
  height: 40px;
  border: 0;
  background-color: transparent;
  border-left: 1px solid #f3debf;
}

form .search .inner-addon .icon {
  position: relative;
  padding: 0;
  margin: 0;
}

footer .clinicas-do-grupo {
  /*margin-top: 35px;*/
  padding: 0;
}

footer .clinicas-do-grupo img {
  border: 1px solid #d0bb9c;
}

footer .creditos {
  margin-top: 50px;
}

footer .creditos p {
  font-size: 10px;
  font-weight: 300;
  color: #000000;
  text-transform: uppercase;
  line-height: 26px;
  margin: 0;
}

footer .paulinha {
  margin-top: -980px;
  margin-left: -60px;
}

form.contato {
  margin-bottom: 50px;
}

.contato ul {
  margin: 0;
  padding: 0;
}

.contato li {
  list-style: none;
  padding-bottom: 20px;
}

.contato h4 {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 10px;
}

.contato p {
  font-size: 16px;
  font-weight: 300;
  color: #666666;
  margin: 0 0 15px;
  line-height: 22px;
}

.contato h5 {
  font-size: 18px;
  font-weight: 500;
  color: #f188b3;
  margin: 0 0 25px;
}

.contato .panel-body {
  padding: 31px 25px;
}



/*BLOG*/
.posts .artigo {
  padding: 0;
  margin-bottom: 30px;
}

.posts .artigo {
  padding: 15px;
}

.posts.posts2 .artigo {
  padding: 15px;
}

.posts.posts2 .artigo .panel-body {
  padding: 0;
}

.posts .artigo img {
  width: 100%;
  height: auto;
}

.posts .artigo .image-post {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.posts .artigo .image-post img {
  visibility: hidden;
}

.posts.posts2 .artigo .image-post {
  margin-bottom: 20px;
}

.posts .artigo h5 {
    margin: 0 0 15px;
}

/*.posts .artigo:first-child h3:after {
  display: block;
  content: " ";
  width: 200px;
  height: 4px;
  background-color: #f3debf;
  margin: 25px 0 30px;
}*/

.posts .panel-footer {
  background-color: inherit;
  border-top: 0;
  padding: 0 25px 25px;
}

.posts .artigo:not(:first-child) .panel-footer {
  padding: 0 0 20px;
}

.posts .panel-footer:before,
.posts .panel-footer:after {
  display: table;
  content: " ";
}

.posts .panel-footer:after {
  clear: both;
}

.posts .btn.link-icon {
  font-size: 14px;
    position: inherit;
    bottom: inherit;
    padding: 9px 12px;
}

.posts .btn-group {
  margin-left: 5px;
}

.posts .btn-group>.btn {
  font-size: 14px;
  padding: 10px 12px 8px;
}

.posts .btn-group>.btn-default {
  width: 40px;
  height: 40px;
  color: #424242 !important;
}

.posts .btn-group>.btn-default:hover {
  color: #fff !important;
  border-color: #a26f8d !important;
  background-color: #a26f8d !important;
}

.posts .btn-group>.btn-default.twitter {
  color: #a26f8d !important;
}

.posts .btn-group>.btn-default.twitter:hover {
  color: #fff !important;
  background-color: #a26f8d !important;
}

.posts .btn-group>.btn-danger {
  color: #fff !important;
}

.posts .btn-group>.btn-danger:hover{
  color: #a26f8d !important;
  background-color: #fff !important;
}

.posts .artigo:not(:first-child), .jscroll-added .artigo {
  width: calc(50% - 15px);
  width: -webkit-calc(50% - 15px);
  width: -moz-calc(50% - 15px);
  width: -ms-calc(50% - 15px);
  width: -o-calc(50% - 15px);
  float: left;
  padding: 10px;
}

.posts .artigo:nth-child(2n+0) {
    margin-right: 30px;
}

.jscroll-added .artigo:nth-child(2n+0) {
    margin-right: 0;
    margin-left: 30px;
}

.jscroll-added .artigo:nth-child(3n+0) {
  clear: both;
}


.posts .artigo:not(:first-child) h3, .jscroll-added .artigo h3 {
  font-size: 16px;
}

.posts .artigo:not(:first-child) .panel-footer .btn-group {
  display: none;
}

/*.posts .artigo:not(:first-child) .panel-footer .btn {
  padding: 0;
  border: none;
  background-color: transparent !important;
}*/

.posts .artigo .panel-footer .btn {
  padding: 0;
  border: none;
  background-color: transparent !important;
}

.posts .artigo:not(:first-child) .panel-body {
  padding-bottom: 15px;
  /*min-height: 220px;*/
  padding: 30px 0 15px;
}

/*.posts .artigo:not(:first-child) .panel-footer .btn:hover {
  color: #c87194 !important;
}*/

.posts .artigo .panel-footer .btn:hover {
  color: #c87194 !important;
}

.posts p {
  line-height: 20px;
}

.posts p  {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   /*line-height: 26px;*/     /* fallback */
   /*max-height: 52px;*/      /* fallback */
   -webkit-line-clamp: 4; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.posts .artigo:first-child p {
  -webkit-line-clamp: 9;
}

.posts .jscroll-added .artigo:first-child p {
  -webkit-line-clamp: 4;
}


.posts.posts2 .artigo:first-child p {
-webkit-line-clamp: 5;
}

/*WIDGETS*/
.widget .artigo {
  display: block;
  padding: 20px;
  /*border-bottom: 1px solid #eaeaeb;*/
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}

.widget .artigo:after {
    display: block;
    content: "";
    border-bottom: 1px solid #eaeaeb;
    width: 100%;
 position: relative;
 top: 18px;
}

.widget .artigo:last-child:after {
  border-bottom: 0;
}

.widget .artigo:hover {
  background-color: #f5f5f5;
}

.widget .artigo:last-child {
  border-bottom: 0;
}

.widget .artigo:before,
.widget .artigo:after {
  display: table;
  content: " ";
}

.widget .artigo:after {
  clear: both;
}

.widget .artigo>div {
  /*float: left;*/
}

.widget .artigo>div:first-child {
  width: ;
  height: ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 15px;
}

.widget .artigo>div:first-child img {
  width: 100%;
  height: auto;
  visibility: hidden;
}

.widget .artigo>div:last-child {
  margin-left: 10px;
  width: calc(100% - 90px);
  width: -webkit-calc(100% - 90px);
  width: -moz-calc(100% - 90px);
  width: -ms-calc(100% - 90px);
  width: -o-calc(100% - 90px);
}

.widget .artigo h5 strong {
  display: block;
}

.widget .artigo h3:after {
  display: none;
}

.widget.border-top:before,
.border-top:before {
  content: " ";
  display: block;
  width: 130px;
  height: 4px;
  background-color: #f3debf;
  margin-top: -1px;
  margin-left: -1px;
}


/*CLIPPING*/
.clipping {
  display: block;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  padding: 10px 10px 0;
  min-height: 400px;
  margin-bottom: 30px;
  position: relative;
}

/*.clipping:after {
  display: block;
  content: "";
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.clipping:hover:after {
  background-color: rgba(243, 227, 230, 0.5);
}*/

.clipping a {
  display: block;
}

.todos-clippings {
  display: block;
  margin-bottom: 80px;
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  color: #f188b3;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.todos-clippings:after {
    font-family: "stamp-icons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
      content: "\e0e9";
      font-size: 20px;
    vertical-align: bottom;
    margin-left: 10px;
}

.todos-clippings:hover {
  color: #a26f8d;
}
.clippings + .row .btn {
  max-width: 100%;
  min-width: 210px;
}

.clipping img {
  width: auto;
  max-width: 100%;
  height: 224px;
  display: block;
  margin: 0 auto 10px;
}

.clipping p {
  margin: 0 0 10px;
  font-size: 14px;
  font-weight: 400;
  color: #a26f8d;
  line-height: 14px;
}


.clipping p b {
  font-size: 12px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}

.clipping span {
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: #f188b3;
  text-transform: uppercase;
  margin: 20px 0 0;
  text-align: center;
}

.clipping span .icon {
  font-size: 18px;
  vertical-align: text-top;
  margin-right: 8px;
}


/*EQUIPE*/
.equipe {
  margin: 100px 0;
}

.equipe h3 {
  font-size: 26px;
  font-weight: 300;
  color: #a26f8d;
  margin: 0 0 20px;
}

.equipe div + h3 {
  margin-top: 20px;
}


/*PROFILE*/
.profile {
  margin-bottom: 30px;
}

.profile h4 {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  margin: 15px 0 10px;
}

.profile p {
  font-size: 14px;
  font-weight: 300;
  color: #666666;
  line-height: 17px;
}

.profile img {
  width: 100%;
}




/*LOCALIZAÇÃO*/
.localizacao {
  margin-top: 100px;
}

.localizacao h2 {
  margin-bottom: 20px;
}

.localizacao p {
  line-height: 22px;
}

.localizacao iframe {
  margin: 30px 0 40px;
  width: 100%;
  height: 550px;
}

.localizacao .tabs {
  margin: 0;
  padding: 0;
    margin-right: -15px;
    margin-left: -15px;
}

.localizacao .tabs:before,
.localizacao .tabs:after {
  display: table;
  content: " ";
}

.localizacao .tabs:after {
  clear: both;
}

.localizacao .tabs li {
    width: 100%;
        float: left;
            position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
        list-style: none;
}

.localizacao .col-sm-4 .btn {
  margin-bottom: 20px;
}

.localizacao .tabs a {
    color: inherit !important;
    text-decoration: none !important;
    background-color: #fff;
    border: 1px solid #f8b2c1;
    padding: 20px;
    height: 150px;
    /*display: table-cell;*/
    display: block;
    vertical-align: middle;
    width: 100%;
    max-width: 100%;
    position: relative;
}


.localizacao .tabs .active a:after {
    width: 32px;
    height: 41px;
    display: block;
    content: " ";
    background-image: url(../images/seta_map.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -16px;
    bottom: -41px;
}

.localizacao .tabs h4 {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  line-height: 20px;
}
.localizacao .tabs p {
  font-size: 14px;
  font-weight: 300;
  color: #333333;
  margin: 0;
  padding: 0;
  line-height: 20px;
}

.localizacao .tabs i,
.localizacao .tabs em {
  font-style: inherit;
  font-size: 14px;
  color: #b892a8;
  font-weight: bold;
}

.localizacao .tabs + .tab-content iframe {
    margin: 20px 0 40px;
}


/*sobre-clinicas*/
.sobre-clinicas {
  margin-top: 80px;
}

.sobre-clinicas h2 {
  text-transform: uppercase;
}

.sobre-clinicas .clinicas-do-grupo {
  margin: 0;
  padding: 0;
}


.sobre-clinicas .clinicas-do-grupo img {
  border: 1px solid #e0e0e0;
  width: 100%;
  height: auto;
  background-color: #fff;
}







.top-blog {
  background-color: rgba(119, 65, 97, 0.55);
  margin: 0 0 50px;
}

.top-blog .text {
  padding: 40px 0;
}

.top-blog h4 {
  font-size: 50px;
  font-weight: 300;
  color: #f3debf;
  line-height: 50px;
  margin: 0;
}

.top-blog h5 {
  margin: 0;
  font-size: 60px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
}

.blog-content img {
  margin-bottom: 30px;
}

.blog-content:after {
  display: block;
  content: " ";
  width: 130px;
  height: 4px;
  background-color: #a26f8d;
  margin: 60px 0 20px;
}

.blog-content h2 {
  font-size: 45px;
  font-weight: 300;
  color: #000000;
  line-height: 50px;
  margin: 0 0 20px;
}

.assinatura {
  margin-bottom: 40px;
}

.assinatura:before,
.assinatura:after {
  display: table;
  content: " ";
}

.assinatura:after {
  clear: both;
}

.assinatura>div {
  float: left;
}

.assinatura img {
  margin-right: 10px;
}

.assinatura>div:last-child {
  padding-top: 5px;
}

.assinatura h4 {
  font-size: 16px;
  font-weight: bold;
  color: #a26f8d;
  text-transform: uppercase;
  margin: 0;
}

.assinatura p {
  font-size: 14px;
    line-height: 18px;
  font-weight: 300;
  color: #000000;
  font-style: italic;
}

.content a:not(.btn) {
  font-size: 16px;
  font-weight: 300;
  color: #a26f8d;
  display: block;
  margin: 0 0 3px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.content a:not(.btn):hover {
  color: #f188b3;
}

.content a:not(.btn):after {
      font-family: "stamp-icons" !important;
          content: "\e0e9";
          display: inline-block;
          vertical-align: middle;
          font-size: 18px;
          color: #f188b3;
          margin-left: 10px;
}

.onde-encontrar h3 {
  margin: 40px 0 30px;
}

.select-servico select{
  font-size: 16px;
  font-weight: 300;
  color: #a26f8d;
  text-transform: uppercase;
}


/*TRATAMENTOS*/
.tratamentos {
  padding: 100px 0;
}

.tratamentos .btn {
  padding: 18px 12px 15px;
  width: 15%;
  width: calc(20% - 24px);
  width: -webkit-calc(20% - 24px);
  width: -moz-calc(20% - 24px);
  width: -ms-calc(20% - 24px);
  width: -o-calc(20% - 24px);
  float: left;
  margin: 0 15px;
}

.tratamentos .btn:first-child {
  margin-left: 0;
}

.tratamentos .btn:last-child {
  margin-right: 0;
}

.tratamentos-btns {
  margin-top: 40px;
}

.tratamentos-btns .btn {
    font-size: 14px;
    white-space: normal;
    height: 60px;
    margin-bottom: 30px;
    line-height: 40px;
    padding: 11px 12px;
}

.tratamentos-btns .btn span {
  line-height: 18px;
  display: inline-block;
}


/*VIDEOS*/
.videos .panel {
  padding: 15px;
}

.videos iframe,
.videos ul {
  width: 100%;
  height: 300px;
}

.videos ul {
  padding: 0;
  overflow-y: auto;
}

.videos .col-sm-5 {
  padding-left: 0;
}

.videos li {
  list-style: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.videos li:hover {
  background-color: #e9e9e9;
}

.videos li .thumbnails {
  width: 160px;
  height: 88px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
}

.videos li .thumbnails + div {
  width: calc(100% - 160px);
  width: -webkit-calc(100% - 160px);
  width: -moz-calc(100% - 160px);
  width: -ms-calc(100% - 160px);
  width: -o-calc(100% - 160px);
  float: left;
  padding-left: 10px;
}

.videos li h4 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
  line-height: 20px;
  margin: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* line-height: 26px; */
   max-height: 276px; 
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.videos li p {
  font-size: 12px;
  font-weight: 400;
  color: #666666;
  line-height: 12px;
  margin: 0;
}

.video-tec {
  width: 100%; height: 356px; padding: 15px;background: #fff;border: 1px solid #e0e0e0; margin: 0 0 70px;
}

.tec-content {
  margin-bottom: 50px;
}


.trat h5 {
  font-size: 22px;
  font-weight: 400;
  color: #000000;
  margin: 0 0 25px;
}

.trat ul {
  margin: 0;
  padding: 0;
}

.trat li {
  list-style: none;
}

.trat a {
  font-size: 16px;
  font-weight: 400;
  color: #a26f8d;
  margin: 0 0 10px;  
}

.form-search {
  position: relative;
  z-index: 99;
  background-color: #fff;
  display: none;
}

.form-search input {
    border: none !important;
    font-size: 30px;
    height: 60px;
    padding: 0;
    font-weight: 300;
    color: #000;
}

.navbar-toggle {
  margin-top: 11px;
}

.navbar-toggle + .fa-search {
    float: right;
    font-size: 20px;
    cursor: pointer;
    padding: 19px;
}


















/*http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height*/
/* USAGE
<div class="row">
  <div class="row-height">
    <div class="col-xs-2 col-xs-height col-xs-middle">
      <div class="inside"></div>
    </div>
    <div class="col-xs-4 col-lg-5 col-xs-height col-xs-middle">
      <div class="inside"></div>
    </div>
  </div>
</div>
*/

/* content styles */

.inside {
  margin-top: 20px;
  margin-bottom: 20px;
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom,color-stop(0%, #f4f4f4), color-stop(100%, #ededed));
  background: -moz-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
  background: -ms-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
}
.inside-full-height {
  /*
  // if you want to give content full height give him height: 100%;
  // with content full height you can't apply margins to the content
  // content full height does not work in ie http://stackoverflow.com/questions/27384433/ie-display-table-cell-child-ignores-height-100
  */
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

/* columns of same height styles */

.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}

@media (min-width: 480px) {
  .row-xs-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-xs-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-xs-top {
    vertical-align: top;
  }
  .col-xs-middle {
    vertical-align: middle;
  }
  .col-xs-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 768px) {
  .row-sm-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-sm-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-sm-top {
    vertical-align: top;
  }
  .col-sm-middle {
    vertical-align: middle;
  }
  .col-sm-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 992px) {
  .row-md-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-md-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-md-top {
    vertical-align: top;
  }
  .col-md-middle {
    vertical-align: middle;
  }
  .col-md-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 1200px) {
  .row-lg-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-lg-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-lg-top {
    vertical-align: top;
  }
  .col-lg-middle {
    vertical-align: middle;
  }
  .col-lg-bottom {
    vertical-align: bottom;
  }
}