@media (min-width: 1200px) {
    .container {
        width: 960px;
    }
}

@media (max-width: 1999px) {
    .news form>div {
        /*width: 217px;*/
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
    }
    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
    .dropdown-menu > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        /*margin: 7.5px -15px;*/
        margin: 7.5px 50px 7.5px -15px
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

@media (max-width: 991px) {
    .navbar-default .navbar-nav>li>a {
        padding: 15px 8px;
    }
    .artigo h5 {
        font-size: 10px;
    }
    .artigo-blog h3 {
        font-size: 13px;
    }
    .artigo-blog p {
        font-size: 12px;
        line-height: 15px;
    }
    .news {
        padding: 50px 50px 50px 129px;
    }
    .news h4 {
        font-size: 21px;
    }
    .news form>div {
        /*width: 161px;*/
        /*margin-left: 5px;*/
    }
    .news .btn {
        font-size: 13px;
        padding: 11px 12px 9px;
    }
    .search .inner-addon {
        width: 295px;
    }
    .affix .menu {
        display: block;
    }
    .affix .action-menu .icon {
        display: none !important;
    }
    .affix .bar .action-menu .icon {
        display: block !important;
    }

    .navbar-default .navbar-nav>li>a {
        font-size: 15px;
    }

    .artigo .foto {
        height: 150px;
    }

    .navbar-right.nav>li {
        float: left;
    }
}

@media (max-width: 767px) {
    .search .inner-addon {
        width: 100%;
    }
    .logo-grupo-paula-bellotti img {
        width: 165px;
        margin: 0 0 20px;
    }
    .social-networks ul {
        float: none;
    }
    .social-networks ul>li:first-child a {
        margin-left: -6px;
    }
    .menu .bar-top {
        height: 50px;
    }
    .menu .bar-top .container {
        display: block;
    }
    .menu .action-menu {
        display: block !important;
        font-size: 50px;
        float: right;
        margin-right: -10px;
        cursor: pointer;
        height: 50px;
        overflow: hidden;
    }
    .menu .container {
        display: none;
    }
    .navbar-top {
        padding: 20px 0 20px;
    }
    .affix .navbar-top .col-sm-3 {
        width: 25%;
        float: left;
    }
    .affix .navbar-top .col-sm-9 {
        width: 75%;
        float: left;
    }
    .affix .search {
        width: 150px;
    }
    .affix .menu .bar-top {
        display: none;
    }
    .navbar-nav {
        min-width: 210px;
        max-width: 100%;
    }

    .navbar-nav>li:hover ul{
      display: none;
    }

    .navbar-nav>li>ul {
        position: inherit;
        padding: 0;
        margin: 0;
    }


    footer .paulinha {
        display: none;
    }
    .news {
        padding: 25px;
        border: 1px solid #e9e9e9;
        margin-top: 50px;
    }
    .news form {
        float: none;
        margin: 0 15px;
    }
    footer .social-networks {
        margin: 0;
        float: none;
    }
    footer .creditos [class*="col-"] {
        padding-bottom: 15px;
    }
    footer .clinicas-do-grupo {
        padding-bottom: 40px;
    }
    footer .clinicas-do-grupo>div:nth-child(2) img {
        margin: 0 auto;
    }
    footer .clinicas-do-grupo>div:nth-child(3) img {
        float: right;
    }
    .artigo .link-icon {
        position: inherit;
        bottom: inherit;
        margin-top: 10px;
        display: block;
        font-size: 11px;
    }
    .localizacao .tabs li {
        width: 100% !important;
        float: none;
        margin-bottom: 10px;
    }
    .localizacao .tabs a {
        padding: 10px;
        height: auto;
    }
    .localizacao .tabs .active a:after {
        display: none;
    }

    .tratamentos .btn {
        width: 100%;
        margin: 0 0 10px;
        float: none;
    }

    .videos ul {
        height: auto;
    }

    .videos .col-sm-5 {
        padding-left: 15px;
    }
}

@media (max-width: 640px) {
    .news form {
        margin-left: 0;
    }

    .news form>div {
        width: 100%;
        margin: 0 0 10px;
        padding: 0;
    }

    .news form .btn {
        width: 100%;
    }

    .carousel .item .text {
        width: 100%;
    }
}

@media (max-width: 540px) {
    .affix .social-networks  {
        display: none;
    }

    .posts .btn.link-icon {
        width: 100%;
        margin-bottom: 10px;
    }
    .posts .artigo {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        clear: inherit;
    }
    .posts .artigo:nth-child(2n+0) {
        margin-right: 0;
    }
}

@media (max-width: 440px) {
    .clippings .col-xs-6 {
        width: 100%;
        float: none;
    }
}

@media (max-width: 390px) {
    .affix .navbar-top .col-sm-3 {
        display: none;
    } 
    .affix .navbar-top .col-sm-9 {
        width: 100%;
        float: none;
    }
    .affix .bar {
        float: none;
    }

    .affix .action-menu {
        float: right;
        top: 10px;
    }
    .affix .search {
        top: 5px;
        margin-left: 0;
        width: calc(100% - 65px);
        -webkit-width: calc(100% - 65px);
        -moz-width: calc(100% - 65px);
        -ms-width: calc(100% - 65px);
        -o-width: calc(100% - 65px);
    }
    .affix .right-addon .icon {
        right: inherit;
    }
    .affix .search .right-addon input {
        padding-right: 0;
        padding-left: 40px;
    }

    .artigo-blog p {
        max-height: 60px;
    }

    .artigo .row-height {
        display: block;
        table-layout: inherit;
        height: auto;
    }

    .artigo .col-xs-4.col-height.col-top {
        vertical-align: inherit;
        display: block;
        float: none;
        height: auto;
        width: 100%;
    }

    .artigo .foto {
        margin-bottom: 10px;
    }

    .btn-lg {
        font-size: 17px;
    }

    .btn-lg .fa {
        font-size: 30px;
        margin-right: 10px;
    }

}

@media (max-width: 320px) {}
